#PageJules{
    background-color: darkolivegreen;
    color: rgb(0, 0, 53);
}

#PageJules h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: goldenrod;
    text-decoration: double underline;
    text-decoration-color: orange;
}

#SectionListe{
    width:fit-content;
    padding-right: 100px;
    padding-left: 50px;
    border-style: ridge;
    border-width: 15px;
    border-color: orange;
}

#ImageJules{
    border-style: solid;
    border-width: 10px;
    border-color: orange;
}

#BioJules{
    border-left-style: double;
    padding-left:10px;
    border-width: 10px;
    border-color: orange;
}
#omar-name{
    color: darkblue;
    font-weight: bold;
    font-size: 40px;
}
#omar h2{
    color: darkgreen;
    font-style: italic;
    font-size: 30px;
}
#omar{
    background-color: lightsteelblue;
}
#omar-paragraphe{
    border: 5px solid darkblue;
    padding: 25px;
    margin: 20px;
    background-color: lightcyan;
    font-size: large;
}
#omar-photo{
    border: 5px solid darkblue;
    padding: 10px;
    margin: 10px;
}
#omar-list{
    background-color: lightcyan;
    border: 5px solid darkblue;
    padding: 25px;
    margin: 20px;
    font-size: large;
}
#omar-email{
    background-color: lightcyan;
    border: 5px solid darkblue;
    padding: 25px;
    margin: 20px;
    font-size: large;
}
#omar-contact{
    color: darkgreen;
    font-style: italic;
    font-size: 30px;
}